$backgroundColor: #efefef;
$radius: 40%;

form {
  display: inline-block;
  margin: auto;

  label {
    display: flex;
    margin: 1rem 0;
  }
}

.methods {
  margin: auto;
  display: table;
}

.active-button {
  background-color: purple;
  color: white;
}
